/* RegisterForm.css */

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/public/slide3.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.register-card {
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.7;
    font-size: 18px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    font-size: 20px;
}

.input-group label {
    font-size: 16px;
    color: #fff;

}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}
