
/* Ensure Cards Look Consistent */
.dashboard-cards .cards{
    text-align: center;
    border: 1px solid #010101;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #151212;
    margin-bottom: 15px;
    margin-top: 10px;
}

.dashboard-cards .cards h3{
    color: #ffffff;
    font-size: 24px;
}
.dashboard-cards .cards p{
    color: #ffffff;
    font-size: 20px;
}

/* Title Section */
.dashboard-title {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.dashboard-title h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

/* Counter Section */
.dashboard-counters {
    background-color: #151212;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    gap: 20px;
}

.dashboard-counters .counter-card {
    background-color: #1f1f1f;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    border: 1px solid #dcdfe1;
}

.dashboard-counters .counter-card h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0;
}

.counter-card p {
    font-size: 28px;
    color: #4CAF50;
    font-weight: bold;
}

.counter-icon {
    font-size: 40px;
    color: #2980b9;
    margin-bottom: 10px;
}

/* Responsive Design for Counters */
@media (max-width: 768px) {
    .dashboard-counters {
        flex-direction: column;
        align-items: center;

    }

    .counter-card {
        margin-bottom: 15px;
    }
}
button{
    color: #2c3e50;
}
/* Redirect Button Style */
.redirect-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 25%;
}

.redirect-button:hover {
    background-color: #2980b9;
}


